.paper {
    position: absolute;
    /* margin: -40% 50px 50px -30%; */
    padding: 30px;
    border: 2px gray solid;
    box-shadow: 10px 10px 10px gray;
    width: 21cm;
    height: 29.7cm;
    transform: scale(0.7);
}

.paper>.profil {
    width: 200px;
    background-color: #eeeeee;
}

.paper>.titre>header {
    font-size: 2em;
    text-align: center;
}

.paper>.experiences>header {
    margin-top: 1em;
    font-weight: bold;
    font-size: 1.4em;
    border-bottom: 1px gray solid;
}

.paper>.experiences>.experience {
    border-bottom: 1px gray green;
}

.paper>.experiences>.experience>.date {
    font-weight: bold;
    display: inline;
}

.paper>.experiences>.experience>.titre {
    font-weight: bold;
    font-size: 1.1em;
    display: inline;
}

.paper>.experiences>.experience>.description {
    margin-bottom: 1em;
}


