/* @font-face {
    font-family: "font1";
    src: url("fonts/fa-regular-400.woff2") format("woff2"),
           url("fonts/fa-regular-400.woff") format("woff");
   } */


/* Habillage layout */
.paper {
    /* font-family: "font1"; */
    border: 2px gray solid;
    box-shadow: 10px 10px 10px gray;
    width: 21cm;
    min-height: 29.7cm;
    transform: scale(0.8);
    overflow-wrap: break-word;
}

.experience {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 3fr;
    grid-template-rows: repeat(2, 0.3fr) 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .date-debut { grid-area: 1 / 1 / 2 / 2; }
    .date-fin { grid-area: 1 / 2 / 2 / 3; }
    .entreprise { grid-area: 2 / 1 / 3 / 2; }
    .logo { grid-area: 2 / 2 / 3 / 3; }
    .ville { grid-area: 3 / 1 / 4 / 3; }
    .titre { grid-area: 1 / 3 / 2 / 4; }
    .description { grid-area: 2 / 3 / 4 / 4; }


.formation {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 3fr;
    grid-template-rows: repeat(2, 0.3fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    .date-debut { grid-area: 1 / 1 / 2 / 2; }
    .date-fin { grid-area: 1 / 2 / 2 / 3; }
    .diplome { grid-area: 2 / 1 / 3 / 2; }
    .niveau { grid-area: 2 / 2 / 3 / 3; }
    .ecole { grid-area: 2 / 3 / 3 / 4; }


/* Grid principal */
.paper {
    display: grid;
    display: grid;
    grid-template-columns: repeat(4, 1fr) 0.5fr;
    grid-template-rows: 0.4fr 0.2fr repeat(2, 0.3fr) 0.8fr 1fr repeat(2, 0.8fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .identite { grid-area: 1 / 1 / 2 / 6; }
    .paper>.titre { grid-area: 2 / 1 / 3 / 6; }
    .intro { grid-area: 3 / 1 / 4 / 4; }
    .profil { grid-area: 3 / 4 / 5 / 6; }
    .photo { grid-area: 5 / 4 / 6 / 6; }
    .competences { grid-area: 6 / 4 / 7 / 6; }
    .langues { grid-area: 7 / 4 / 8 / 6; }
    .reseaux { grid-area: 8 / 4 / 9 / 6; }
    .experiences { grid-area: 4 / 1 / 6 / 4; }
    .formations { grid-area: 6 / 1 / 9 / 4; }


/********** Conditions d'impressions **********/

@media print {
    /* Sélection des zones */ 
    body * { 
        visibility: hidden; 
    }
    .no-print { 
        display: none; 
    }
    .paper { 
        visibility: visible; display: grid; 
        margin-top: 0px !important; margin-left: 0px !important; transform: scale(1) !important;
        border: 0px;
        width: 100vw;
        height: 100vh;
    }
    .paper * { 
        visibility: visible; 
    }
    
    /* Forçage impression background */ 
    * { -webkit-print-color-adjust: exact !important;   /* Chrome, Safari */
        color-adjust: exact !important;                 /*Firefox*/
    }
    
    }

/* .paper>.identite>.nom:before {
    font-family: "font1";
    content: "\f556"; 
    padding-right: 20px;
} */


/* Photo */
/* .photo{
    background-color: #39C1A1;
} */

/* Couleur background top */
.paper>.identite, .paper>.titre {
    background-color: #39C1A1;
}


/* Couleur background latéral */
.paper>.profil, .paper>.photo, .paper>.competences, .paper>.langues, .paper>.reseaux {
    background-color:whitesmoke;
}


.paper>.photo {
    text-align: center;
    padding-top: 15px;
}

/* Mise en page descriptions */
.paper>.experiences>div>.experience>.description, .paper>.formations>div>.formation>.description {
    margin-bottom: 1em;
    text-align: justify;
}


/* Marge blocs gauche */
.paper>.experiences, .paper>.formations, .paper>.identite, .paper>.titre, .paper>.intro {
    padding: 0px 15px;
}

/* Paramètres bloc nom */
.paper>.identite>.nom {
    text-transform: uppercase;
    font-size: 3em;
    margin-bottom: -40px;
    color: white;
}

/* Paramètres bloc poste */
.paper>.titre>.poste {
    font-size: 1.5em;
    text-transform: uppercase;
}
.paper>.titre {
    font-size: 1.1em;
    text-transform: uppercase;
    margin-top: -2px;
}


/* Mise en page texte */
.paper>.intro {
    margin-top: 10px;
    text-align: justify;
}


/* Justification texte */
.paper>.intro>.text {
    text-align: justify;
}
/* Justification descriptions */
.paper>.experiences>div>.experience>.description, .paper>.formations>div>.formation>.description {
    margin-bottom: 1em;
    text-align: justify;
}


/* Paramètres bloc Expériences */
.paper>.experiences>header {
    text-transform: uppercase;
    margin: 1em 0;
    font-size: 1.2em;
    color: #39C1A1;
    border-bottom: 1.5px darkgray solid;
}
.paper>.experiences>div>.experience>.date-debut {
    font-weight: bold;
    display: inline-block;
    width: 120px;
}
.paper>.experiences>div>.experience>.titre, .paper>.experiences>div>.experience>.date-fin {
    font-weight: bold;
    font-size: 1.1em;
    display: inline;
}

/* Paramètres bloc Formations */
.paper>.formations>header {
    text-transform: uppercase;
    margin: 1em 0;
    font-size: 1.2em;
    color: #39C1A1;
    border-bottom: 1.5px darkgray solid;
}
.paper>.formations>div>.formation>.date-debut, .paper>.formations>div>.formation>.date-fin {
    font-weight: bold;
    display: inline-block;
    width: 120px;
}
.paper>.formations>div>.formation>.titre {
    font-weight: bold;
    font-size: 1.1em;
    display: inline;
}

/* Paramètres bloc Compétences */
.paper>.competences>header {
    text-transform: uppercase;
    margin: 1em 0;
    margin-top: 1em;
    font-size: 1.2em;
    color: #39C1A1;
    border-bottom: 1.5px darkgray solid;
}
.paper>.competences {
    padding: 0 15px;
}


/* Paramètres bloc Langues */
.paper>.langues>header {
    text-transform: uppercase;
    margin: 1em 0;
    margin-top: 1em;
    font-size: 1.2em;
    color: #39C1A1;
    border-bottom: 1.5px darkgray solid;
}
.paper>.langues {
    padding: 0 15px;
}
.paper>.langues>div>.langue>.libelle {
    display: inline;
}
.paper>.langues>div>.langue>.niveau {
    display: inline;
}

/* Paramètres bloc reseaux */
.paper>.reseaux>header {
    text-transform: uppercase;
    margin: 1em 0;
    margin-top: 1em;
    font-size: 1.2em;
    color: #39C1A1;
    border-bottom: 1.5px darkgray solid;
}
.paper>.reseaux {
    padding: 0 15px;
}


/* Paramètres bloc Contact */
.paper>.profil>header {
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 1.2em;
    color: #39C1A1;
    font-weight: bold;
}
.paper>.profil {
    padding: 0 15px;
}

/* Custom date + titre*/
.paper>.experiences>.experience>.date, .paper>.formations>.formation>.date {
    font-weight: 600;
    display: inline-block;
    width: 100px;
}
.paper>.experiences>.experience>.titre, .paper>.formations>.formation>.titre {
    font-weight: 600;
    font-size: 1.1em;
    display: inline;
}


meter[value]::-webkit-meter-optimum-value {
    background: #39C1A1;
    /* color: green; */
    }
 

/* Masquage header Profil */
.paper>.intro>header {
    display: none;
}
/* Masquage Competence Niveau */
.paper>.competences>div>.competence>.niveau {
    display: none;
}

/* Masquage formation Description */
.paper>.formations>div>.formation>.description {
    display: none;
}