/* Chargement font fontawesome.com */
@font-face {
    font-family: "font1";
    src: url("fonts/fa-solid-900.woff2") format("woff2"),
         url("fonts/fa-solid-900.woff") format("woff");
    }
@font-face {
    font-family: "font2";   
    src: url("fonts/fa-regular-400.woff2") format("woff2"),
         url("fonts/fa-regular-400.woff") format("woff");
   }


/* Habillage layout */
.paper {
    padding: 40px;
    border: 2px gray solid;
    box-shadow: 10px 10px 10px gray;
    width: 21cm;
    min-height: 29.7cm;
    transform: scale(0.8);
    overflow-wrap: break-word;
}


.experience {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 3fr;
    grid-template-rows: repeat(2, 0.3fr) 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .date-debut { grid-area: 1 / 1 / 2 / 2; }
    .date-fin { grid-area: 1 / 2 / 2 / 3; }
    .entreprise { grid-area: 2 / 1 / 3 / 2; }
    .logo { grid-area: 2 / 2 / 3 / 3; }
    .ville { grid-area: 3 / 1 / 4 / 3; }
    .titre { grid-area: 1 / 3 / 2 / 4; }
    .description { grid-area: 2 / 3 / 4 / 4; }


.formation {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 3fr;
    grid-template-rows: repeat(2, 0.3fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    .date-debut { grid-area: 1 / 1 / 2 / 2; }
    .date-fin { grid-area: 1 / 2 / 2 / 3; }
    .diplome { grid-area: 2 / 1 / 3 / 2; }
    .niveau { grid-area: 2 / 2 / 3 / 3; }
    .ecole { grid-area: 2 / 3 / 3 / 4; }


/* Grid principal */
.paper {
    display: grid;
    grid-template-columns: 0.6fr 0.5fr 1.5fr;
    grid-template-rows: 0.3fr 0.2fr 0.3fr 1fr repeat(2, 0.4fr) 0.8fr;
    grid-column-gap: 40px;
    grid-row-gap: 0px;
    }
    
    .profil { grid-area: 1 / 1 / 4 / 2; }
    .photo { grid-area: 1 / 2 / 3 / 3; }
    .identite { grid-area: 1 / 3 / 2 / 4; }
    .paper>.titre { grid-area: 2 / 3 / 3 / 4; }
    .intro { grid-area: 3 / 2 / 4 / 4; }
    .competences { grid-area: 4 / 1 / 5 / 2; }
    .langues { grid-area: 5 / 1 / 7 / 2; }
    .reseaux { grid-area: 7 / 1 / 8 / 2; }
    .experiences { grid-area: 4 / 2 / 6 / 4; }
    .formations { grid-area: 6 / 2 / 8 / 4; } 


/********** Conditions d'impressions **********/

@media print {
    /* Sélection des zones */ 
    body * { 
        visibility: hidden; 
    }
    .no-print { 
        display: none; 
    }
    .paper { 
        visibility: visible; display: grid; 
        margin-top: 0px !important; margin-left: 0px !important; transform: scale(1) !important;
        border: 0px;
        width: 100vw;
        height: 100vh;
    }
    .paper * { 
        visibility: visible; 
    }
    
    /* Forçage impression background */ 
    * { -webkit-print-color-adjust: exact !important;   /* Chrome, Safari */
        color-adjust: exact !important;                 /*Firefox*/
    }
    
    }

    
    /* Insertion Icones */
.paper>.profil>header:before {
    font-family: "font1";
    content: "\f007"; 
    margin-right: 10px;
    /* border: solid 2px;
    border-radius: 50%;
    padding: 0.2em; */
}
.paper>.competences>header:before {
    font-family: "font1";
    content: "\f013"; 
    margin-right: 10px;
}
.paper>.langues>header:before {
    font-family: "font2";
    content: "\f27a"; 
    margin-right: 10px;
}
.paper>.reseaux>header:before {
    font-family: "font1";
    content: "\f1e0"; 
    margin-right: 10px;
}
.paper>.experiences>header:before {
    font-family: "font1";
    content: "\f0b1"; 
    margin-right: 10px;
}
.paper>.formations>header:before {
    font-family: "font1";
    content: "\f19d"; 
    margin-right: 10px;
}


/* Couleur Header + Nom */
header, .paper>.identite {
    color: #E9A507;
}


/* Paramètres bloc photo */
.paper>.photo>.portrait>img {
    border-radius: 50%;
    width: 120px;
    margin-top: 20px;
}


/* Justification zones de texte */
.paper>.intro>.text, .description {
    text-align: justify;
}


/* Paramètres bloc nom */
.paper>.identite>.nom {
    text-transform: uppercase;
    font-size: 3em;
    /* margin-bottom: -10px; */
}


/* Paramètres bloc poste */
.paper>.titre>.poste{
    font-size: 1.5em;
    text-transform: uppercase;
    color: gray;
    /* padding-bottom: 10px; */
}


/* Paramètres bloc Contact */
.paper>.profil>header {
    text-transform: uppercase;
    margin-top: 1em;
    font-size: 1.2em;
    /* border-bottom: 1.5px darkgray solid; */
}


/* Paramètres bloc Intro */
.paper>.intro>header {
    text-transform: uppercase;
    margin-top: 1em;
    font-size: 1.2em;
}


/* Paramètres bloc Expériences */
.paper>.experiences>header {
    text-transform: uppercase;
    /* margin-top: 1em; */
    font-size: 1.2em;
    border-top: 1.5px darkgray solid;
    padding-top: 0.4em;
}
.paper>.experiences>div>.experience>.date-debut {
    text-transform: capitalize;
    font-weight: 600;
    width: 120px;
}
.paper>.experiences>div>.experience>.date-fin {
    text-transform: capitalize;
    font-weight: 600;
    width: 120px;

}
.paper>.experiences>div>.experience>.entreprise {
    font-weight: 600;
    width: 120px;
}
.paper>.experiences>div>.experience>.ville {
    width: 120px;
}
.paper>.experiences>div>.experience>.titre {
    font-weight: 600;
} 
.paper>.experiences>.experience>.description {
    margin-bottom: 1em;
}
.experience.org {
    overflow: auto;
}
.experience.org .entry {
    float: left;
    width: 100px;
}
.experience.org.n1 .entry:nth-child(1n+1) {
    clear: left;
}
.experience.org.n1 .entry:nth-child(3n+1) {
    clear: left;
}
/*
.paper>.experiences>div>.experience>.ville {
    font-weight: 600;
    display: inline-block;
    width: 100px;
}
*/


/* Paramètres bloc Formations */
.paper>.formations>div>.formation>.date-debut {
    text-transform: capitalize;
    font-weight: 600;
}
.paper>.formations>div>.formation>.date-fin {
    font-weight: 600;
}
.formation.org {
    overflow: auto;
}
.formation.org .entry {
    float: left;
    width: 100px;
}
.formation.org.n2 .entry:nth-child(2n+1) {
    clear: left;
}
.formation.org.n2 .entry:nth-child(3n+1) {
    clear: left;
}


/* Mise en page descriptions */
.paper>.experiences>.experience>.description, .paper>.formations>.formation>.description {
    text-align: justify;
}
.paper>.formations>header {
    text-transform: uppercase;
    margin-top: 1em;
    font-size: 1.2em;
    border-top: 1.5px darkgray solid;
    padding-top: 0.4em;
}


/* Paramètres bloc Compétences */
.paper>.competences>header {
    text-transform: uppercase;
    /* margin-top: 1em; */
    font-size: 1.2em;
    /* border-bottom: 1.5px darkgray solid; */
}


/* Paramètres bloc Langues */
.paper>.langues>header {
    text-transform: uppercase;
    margin-top: 1em;
    font-size: 1.2em;
    /* border-bottom: 1.5px darkgray solid; */
    
}
.paper>.langues>div>.langue>.libelle {
    display: inline-block;
    width: 100px;
}

.paper>.langues>div>.langue>.niveau {
    display: inline-block;
}


/* Paramètres bloc Réseaux */
.paper>.reseaux>header {
    text-transform: uppercase;
    margin-top: 1em;
    font-size: 1.2em;
    /* border-bottom: 1.5px darkgray solid; */
}


/* Masquage header Profil */
.paper>.intro>header {
    display: none;
}
/* Masquage Competence Niveau */
.paper>.competences>div>.competence>.niveau, .paper>.formations>div>.formation>.description {
    display: none;
}

meter[value]::-webkit-meter-optimum-value {
    background: #E9A507;
}

/* Masquage formation Description */
.paper>.formations>div>.formation>.description {
    display: none;
}