/* Habillage layout */
.paper {
    padding: 40px;
    border: 2px gray solid;
    box-shadow: 10px 10px 10px gray;
    width: 21cm;
    min-height: 29.7cm;
    transform: scale(0.8);
    overflow-wrap: break-word;
}


.experience {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 3fr;
    grid-template-rows: repeat(2, 0.3fr) 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .date-debut { grid-area: 1 / 1 / 2 / 2; }
    .date-fin { grid-area: 1 / 2 / 2 / 3; }
    .entreprise { grid-area: 2 / 1 / 3 / 2; }
    .logo { grid-area: 2 / 2 / 3 / 3; }
    .ville { grid-area: 3 / 1 / 4 / 3; }
    .titre { grid-area: 1 / 3 / 2 / 4; }
    .description { grid-area: 2 / 3 / 4 / 4; }


.formation {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 3fr;
    grid-template-rows: repeat(2, 0.3fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    .date-debut { grid-area: 1 / 1 / 2 / 2; }
    .date-fin { grid-area: 1 / 2 / 2 / 3; }
    .diplome { grid-area: 2 / 1 / 3 / 2; }
    .niveau { grid-area: 2 / 2 / 3 / 3; }
    .ecole { grid-area: 2 / 3 / 3 / 4; }


/* Grid principal */
/* .paper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
.identite { grid-area: 1 / 1 / 2 / 2; }
.titre { grid-area: 2 / 1 / 3 / 2; }
.profil { grid-area: 3 / 1 / 4 / 2; }
.competences { grid-area: 4 / 1 / 5 / 2; }
.langues { grid-area: 5 / 1 / 6 / 2; }
.intro { grid-area: 1 / 2 / 2 / 4; }
.experiences { grid-area: 2 / 2 / 4 / 4; }
.formations { grid-area: 4 / 2 / 6 / 4; } */

.paper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.8fr 0.4fr repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    overflow-wrap: anywhere;
    }
    
    .identite { grid-area: 1 / 1 / 2 / 2; }
    .titre { grid-area: 2 / 1 / 3 / 2; }
    .profil { grid-area: 3 / 1 / 4 / 2; }
    .competences { grid-area: 4 / 1 / 5 / 2; }
    .langues { grid-area: 5 / 1 / 6 / 2; }
    .reseaux { grid-area: 6 / 1 / 7 / 2; }
    .intro { grid-area: 1 / 2 / 2 / 4; }
    .experiences { grid-area: 2 / 2 / 5 / 4; }
    .formations { grid-area: 5 / 2 / 7 / 4; }


/********** Conditions d'impressions **********/

@media print {
    /* Sélection des zones */ 
    body * { 
        visibility: hidden; 
    }
    .no-print { 
        display: none; 
    }
    .paper { 
        visibility: visible; display: grid; 
        margin-top: 0px !important; margin-left: 0px !important; transform: scale(1) !important;
        border: 0px;
        width: 100vw;
        height: 100vh;
    }
    .paper * { 
        visibility: visible; 
    }
    
    /* Forçage impression background */ 
    * { -webkit-print-color-adjust: exact !important;   /* Chrome, Safari */
        color-adjust: exact !important;                 /*Firefox*/
    }
    
    }


.paper>.identite, .paper>.titre, .paper>.profil, .paper>.competences, .paper>.langues, .paper>.reseaux{
    color: white;
    background-color: #1A409A;
    padding-left: 10px;
    margin-top: -2px;
}

.paper>.identite>.nom {
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    /* background-color: #eeeeee; */
}

.paper>.titre>.poste{
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
    color: white;
    /* padding-bottom: 10px; */
}

/* .paper>.intro, .paper>.experiences, .paper>.formations{
    border-left: 2px darkblue solid;
} */

/* .paper>.profil, .paper>.competences, .paper>.interets{
    margin-right: 20px;
} */


/* Justification texte */
.paper>.intro>.text {
    text-align: justify;
    /* word-break: break-all; */
}
/* Justification descriptions */
.paper>.experiences>div>.experience>.description, .paper>.formations>div>.formation>.description {
    margin-bottom: 1em;
    text-align: justify;
    /* word-break: break-all; */
}


.paper>.experiences, .paper>.formations, .paper>.identite, .paper>.titre, .paper>.intro {
    padding: 0px 15px;
}

/* .paper>.intro>header, .paper>.intro>div, .paper>.experiences>header, .paper>.experiences>div, .paper>.formations>header, .paper>.formations>div {
    margin-left: 20px;
} */

.paper>.profil>header {
    text-transform: uppercase;
    margin-top: 1em;
    font-size: 1.2em;
}

.paper>.intro>header {
    text-transform: uppercase;
    margin-top: 1em;
    font-size: 1.2em;
    color: #1A409A;
}


/* Paramètres bloc Experiences */
.paper>.experiences>header {
    text-transform: uppercase;
    margin-top: 1em;
    font-size: 1.2em;
    font-weight: bold;
    color: #1A409A;
    border-bottom: 2px #1A409A solid;
}

/* .paper>.experiences>.experience {

} */

.paper>.experiences>div>.experience>.date-debut {
    font-weight: bold;
    display: inline-block;
    width: 120px;
}
/*.paper>.experiences>.experience>.date {
    font-weight: bold;
    display: inline-block;
    width: 200px;
}*/
.paper>.experiences>div>.experience>.titre, .paper>.experiences>div>.experience>.date-fin {
    font-weight: bold;
    font-size: 1.1em;
    display: inline;
}
.paper>.experiences>div>.experience>.description {
    margin-bottom: 1em;
}


/* Paramètres bloc Formations */
.paper>.formations>header {
    text-transform: uppercase;
    margin-top: 1em;
    font-size: 1.2em;
    font-weight: bold;
    color: #1A409A;
    border-bottom: 2px #1A409A solid;
}

/* .paper>.formations>.formation {
    border-bottom: 1px gray
} */
.paper>.formations>div>.formation>.date-debut, .paper>.formations>div>.formation>.date-fin {
    font-weight: bold;
    display: inline-block;
    width: 120px;
}
.paper>.formations>div>.formation>.titre {
    font-weight: bold;
    font-size: 1.1em;
    display: inline;
}
.paper>.formations>div>.formation>.description {
    margin-bottom: 1em;
}


/* Paramètres bloc Competences */
.paper>.competences>header {
    text-transform: uppercase;
    margin-top: 1em;
    font-size: 1.2em;
    border-bottom: 2px #1A409A solid;
}


/* Paramètres bloc langues */
.paper>.langues>header {
    text-transform: uppercase;
    margin-top: 1em;
    font-size: 1.2em;
}
.paper>.langues>div>.langue>.libelle {
    display: inline;
}
.paper>.langues>div>.langue>.niveau {
    display: inline;
}


/* Paramètres bloc reseaux */
.paper>.reseaux>header {
    text-transform: uppercase;
    margin-top: 1em;
    font-size: 1.2em;;
}


/* Masquage Competence Niveau */
.paper>.competences>div>.competence>.niveau {
    display: none;
}