
/* Habillage layout */
.paper {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    border: 2px gray solid;
    box-shadow: 10px 10px 10px gray;
    width: 21cm;
    min-height: 29.7cm;
    transform: scale(0.8);
    word-break: break-all;
}


/********** Conditions d'impressions **********/

@media print {
    /* Sélection des zones */ 
    body * { 
        visibility: hidden; 
    }
    .no-print { 
        display: none; 
    }
    .paper { 
        visibility: visible; display: flex; 
        margin-top: 0px !important; margin-left: 0px !important; transform: scale(1) !important;
        border: 0px;
        width: 100%;
    }
    
    .paper * { 
        visibility: visible; 
    }
    
    /* Forçage impression background */ 
    * { -webkit-print-color-adjust: exact !important;   /* Chrome, Safari */
        color-adjust: exact !important;                 /*Firefox*/
    }
    
    }




/* Paramètres bloc Nom */
.paper>.identite>.nom {
    text-transform: uppercase;
    font-size: 3em;
}


/* Paramètres bloc Poste */
.paper>.titre>.poste {
    font-size: 1.5em;
    text-transform: uppercase;
    color: gray;
    height: max-content;
}


/* Paramètres bloc Contact */
.paper>.profil {
    background-color: #eeeeee;
    height: fit-content;
}


/* Masquage header Intro + Profil */
.paper>.intro>header {
    display: none;
}
.paper>.profil>header {
    display: none;
}


/* Justification texte */
.paper>.intro>.text {
    text-align: justify;
}
/* Justification descriptions */
.paper>.experiences>div>.experience>.description, .paper>.formations>div>.formation>.description {
    margin-bottom: 1em;
    text-align: justify;
}


/* Paramètres bloc Experiences */
.paper>.experiences>header {
    text-transform: uppercase;
    font-size: 1.4em;
    border-top: 2px gray solid;
}
.paper>.experiences>div>.experience>.date-debut, .paper>.experiences>div>.experience>.date-fin {
    font-weight: bold;
    display: inline-block;
    width: 100px;
}
/*.paper>.experiences>.experience>.date {
    font-weight: bold;
    display: inline-block;
    width: 200px;
}*/
.paper>.experiences>div>.experience>.titre {
    font-weight: bold;
    font-size: 1.1em;
    display: inline;
}


/* Paramètres bloc Formations */
.paper>.formations>header {
    text-transform: uppercase;
    font-size: 1.4em;
    border-top: 2px gray solid;
}
.paper>.formations>div>.formation>.date-debut, .paper>.formations>div>.formation>.date-fin {
    font-weight: bold;
    display: inline-block;
    width: 100px;
}
.paper>.formations>div>.formation>.titre {
    font-weight: bold;
    font-size: 1.1em;
    display: inline;
}


/* Paramètres bloc Competences */
.paper>.competences>header {
    text-transform: uppercase;
    font-size: 1.4em;
    border-top: 2px gray solid;
}
.paper>.competences>div>.competence>.libelle {
    display: inline;
}
.paper>.competences>div>.competence>.niveau {
    display: inline;
}


/* Paramètres bloc langues */
.paper>.langues>header {
    text-transform: uppercase;
    font-size: 1.4em;
    border-top: 2px gray solid;
}
.paper>.langues>div>.langue>.libelle {
    display: inline;
}
.paper>.langues>div>.langue>.niveau {
    display: inline;
}


/* Paramètres bloc reseaux */
.paper>.reseaux>header {
    text-transform: uppercase;
    font-size: 1.4em;
    border-top: 2px gray solid;
}


/* Ratio blocs*/
.paper>.identite{
    flex-basis: 100%;
    order: 0;
}
.paper>.titre{
    flex-basis: 100%;
    order: 1;
}
.paper>.profil{
    flex-basis: 30%;
    order: 2;
}
.paper>.intro{
    flex-basis: 100%;
    order: 3;
}
.paper>.experiences{
    flex-basis: 100%;
    order: 4;
}
.paper>.formations{
    flex-basis: 100%;
    order: 5;
}
.paper>.competences{
    flex-basis: 33%;
    order: 6;
}
.paper>.langues{
    flex-basis: 34%;
    order: 7;
}
.paper>.reseaux{
    flex-basis: 33%;
    order: 8;
} 
