.card-header {
    padding: 0.5em!important;
}


/* @media print {
    body > div> div> div> div> div> div { display:none; }
    body .div { display:block; }
} */

.paper>.experiences>div>.experience>.logo>img {
    width: 25px;
    height: 25px;
} 