.card-header {
    padding: 0.5em!important;
}


/* @media print {
    body > div> div> div> div> div> div { display:none; }
    body .div { display:block; }
} */


/********** Conditions d'impressions **********/

@media print {
    /* Sélection des zones */ 
    body * { 
        visibility: hidden; 
    }
    .no-print { 
        display: none; 
    }
    .paper { 
        visibility: visible; display: grid; 
        margin-top: 0px !important; margin-left: 0px !important; transform: scale(1) !important;
        border: 0px;
        width: 100%;
    }
    .paper * { 
        visibility: visible; 
    }
    
    /* Forçage impression background */ 
    * { -webkit-print-color-adjust: exact !important;   /* Chrome, Safari */
        color-adjust: exact !important;                 /*Firefox*/
    }
    
    }
