.paper {
    /*position: absolute;*/
    /* margin-left: 20px;
    padding: 30px; */
    border: 2px gray solid;
    box-shadow: 10px 10px 10px gray;
    width: 21cm;
    min-height: 29.7cm;
    transform: scale(1);
    margin-bottom: 20px;
}
